<div id="results">
  
  <%= render :partial=>'search_form' %>
  
  <div class="home_text">
    <h1>Welcome to My Local Hydra App</h1>
    <br/>
    <p>This is my local Hydra application.  Isn't it great?
    </p>
  </div>

</div>